@font-face 
    font-family: Banny
    src: url(../fonts/Banny-Round.otf)
@font-face 
    font-family: Bold-Banny
    src: url(../fonts/Banny-BoldRound.otf)
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400 600&display=swap')

// Breakpoints
$mediaMaxWidth: 1260px
$mediaMidWidth: 960px
$mediaMinWidth: 480px

// Colors
$lineColor: rgba(232, 195, 0, 1)

$headerDarkColor: rgba(0, 0, 0, 1)
$quoteDarkColor: rgba(0, 0, 0, 0.9)
$labelDarkColor: rgba(255, 255, 255, 0.9)
$bodyDarkColor: rgba(255, 255, 255, 0.8)
$infoDarkColor: rgba(33, 33, 33, 0.5)

$headerLightColor: rgba(255, 255, 255, 1)
$quoteLightColor: rgba(255, 255, 255, 0.9)
$labelLightColor: rgba(255, 255, 255, 0.9)
$bodyLightColor: rgba(255, 255, 255, 0.8)

// Font Sizes
$headerFS: 2.5rem
$headerLH: 3rem
// $qouteFS:
// $bodyFS:

// Mixins
@mixin picture
    @media screen and (max-width: $mediaMidWidth)
        display: none
@mixin block
    @media screen and (max-width: $mediaMidWidth)
        grid-template-areas: 'label' 'text'
// Header
.headerBox
    background: url('../images/header_bg.webp') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    display: grid
    height: 100vh
    .navbar
        top: 0
        position: fixed
        left: 50%
        top: 0
        transform: translateX(-50%)
        transition: top 0.4s 
        z-index: 1000
        .desktop 
            margin: 0
            padding: 0
            max-height: 200px
            z-index: 100
            display: grid
            grid-template-columns: repeat(4, minmax(80px, 120px)) 200px repeat(4, minmax(80px, 120px))
            @media screen and (max-width: $mediaMidWidth)
                display: none
            li
                list-style-type: none
            .item
                border-bottom: 2px solid rgba(255, 255, 255, 0.2)
                max-height: 100px
                width: 100%
                text-align: center
                font-family: Inter, sans-serif
                font-style: normal
                font-size: 1em
                line-height: 1em
                text-transform: uppercase
                &:hover
                    background-color: #E8C300
                a
                    display: block
                    padding: 41px 0
                    text-decoration: none
                    color: #fff
            .logo
                position: absolute 
                left: 50%
                transform: translateX(-50%)
                margin-top: 20px

        .mobile
            width: 100vw
            @media screen and (min-width: $mediaMidWidth)
                display: none
            .header
                background-color: rgba(80, 80, 80, 0.5)
                backdrop-filter: blur(5px)
                display: flex
                justify-content: space-between
                height: 80px
                .container 
                    display: inline-block
                    cursor: pointer
                    margin: auto 0 auto 20px
                    .bar1, .bar2, .bar3 
                        width: 35px
                        height: 5px
                        background-color: white
                        margin: 6px 0
                        transition: 0.4s
                .change .bar1 
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
                    transform: rotate(-45deg) translate(-9px, 6px)
                .change .bar2 
                    opacity: 0
                .change .bar3 
                    -webkit-transform: rotate(45deg) translate(-8px, -8px)
                    transform: rotate(45deg) translate(-8px, -8px)
                .label
                    margin: auto 0
                    color: $headerLightColor
                    font-size: 2em
                    line-height: $headerLH
                    font-family: Bold-Banny, sans-serif
                    font-weight: 400
                    text-align: center
                    text-transform: uppercase
                    padding-right: 20px
            .menu
                max-width: 60vw
                position: absolute
                left: -60%
                transition: 0.5s 
            .active
                left: 0%
                .item

                    max-height: 100px
                    width: 60vw
                    text-align: center
                    font-family: Inter, sans-serif
                    font-style: normal
                    font-size: 1.25em
                    line-height: 1em
                    text-transform: uppercase
                    height: 70px
                    background-color: rgba(80, 80, 80, 0.8)
                    backdrop-filter: blur(5px)
                    a
                        display: block
                        text-decoration: none
                        color: #fff
                        padding: 20px
    .content
        text-align: center
        margin-top: 30vh

        .label
            color: white
            font-family: 'Inter', sans-serif
            font-style: normal
            font-weight: 400
            font-size: 1em
            line-height: 1em
            text-transform: uppercase
        .header
            text-transform: uppercase
            color: white
            font-family: Banny, sans-serif
            font-size: 7em
            @media screen and (max-width: $mediaMidWidth)
                font-size: 3em
        .line
            background: #E8C300
            display: flex
            margin: auto
            width: 256px
            height: 5px
            border-radius: 20px
        .buttons
            margin-top: 40px
            margin-bottom: 400px
            .btn
                border: none
                width: 200px
                height: 60px
                border-radius: 5px
                color: white
                margin-bottom: 20px
                margin-right: 20px
                font-family: Inter, sans-serif
                font-weight: 700
                text-transform: uppercase
                vertical-align: middle
                -webkit-transform: perspective(1px) translateZ(0)
                transform: perspective(1px) translateZ(0)
                box-shadow: 0 0 1px rgba(0, 0, 0, 0)
                -webkit-transition-duration: 0.3s
                transition-duration: 0.3s
                -webkit-transition-property: transform
                transition-property: transform
                @media screen and (max-width: $mediaMidWidth)
                    margin-right: 0
                &:hover
                    transform: scale(1.05)
            .book
                background: #E8C300
                border: 1px solid #E8C300

            .explore
                background: #0000
                border: 2px solid gray

// About Us
.aboutBox
    height: auto
    .content
        max-width: $mediaMaxWidth
        width: auto
        display: grid
        grid-template-areas: 'text pic'
        margin: auto
        @include block
        .text
            grid-area: text
            margin: auto
            max-width: $mediaMaxWidth/2
            .header
                color: $headerDarkColor
                font-size: $headerFS
                line-height: $headerLH
                font-family: Bold-Banny, sans-serif
                margin-top: 10vh
                font-weight: 400
                text-align: center
                text-transform: uppercase
            .line
                background: $lineColor
                display: flex
                margin: 15px auto
                width: 64px
                height: 5px
                border-radius: 20px
            .quote
                color: $quoteDarkColor
                max-width: $mediaMaxWidth/2
                font-family: Inter, sans-serif
                font-weight: 600
                font-size: 1.25rem
                line-height: 2.25rem
                display: flex
                align-items: flex-end
                text-align: center
                margin: auto
                padding: 0 5px
                
            .body
                max-width: $mediaMaxWidth/2
                line-height: 28px
                text-align: center
                display: flex
                margin: auto
                padding: 10px 30px 0 30px
                margin-bottom: 10vh
                font-family: Open-Sans, sans-serif
    .picture
        grid-area: pic
        width: auto
        height: auto
        margin: auto 0
        border-radius: 5px
        z-index: 10
        img
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5))
        @include picture
// Master Chef
.chefBox
    background: url('../images/masterchef_bg.webp') no-repeat center center  fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: auto
    .content
        max-width: $mediaMaxWidth
        display: grid
        grid-template-areas: 'label label' 'pic text'
        color: white
        margin: 0 auto
        @include block
        .label
            color: $labelLightColor
            grid-area: label
            text-transform: uppercase
            text-align: center
            padding: 40px 0
            letter-spacing: 0.5em
            line-height: 14px
            font-family: Inter, sans-serif
        .picture
            grid-area: pic
            width: auto
            height: auto
            border-radius: 5px
            img 
                filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5))
            @include picture
        .text
            grid-area: text
            margin: auto
            max-width: $mediaMaxWidth/2
            .header
                color: $headerLightColor
                font-size: $headerFS
                line-height: $headerLH
                font-family: Bold-Banny, sans-serif
                margin-top: 1vh
                font-weight: 400
                text-align: center
                text-transform: uppercase
            .line
                background: $lineColor
                display: flex
                margin: 15px auto
                width: 64px
                height: 5px
                border-radius: 20px
            .quote
                color: $quoteLightColor
                max-width: $mediaMaxWidth/2
                font-family: Inter, sans-serif
                font-weight: 600
                font-size: 1.25rem
                line-height: 2.25rem
                display: flex
                align-items: flex-end
                text-align: center
                margin: auto
                padding: 0 5px
            .body
                color: $bodyLightColor
                max-width: $mediaMaxWidth/2
                line-height: 28px
                text-align: center
                display: flex
                margin: auto
                padding: 0 30px
                margin-bottom: 10vh
                font-family: Open-Sans, sans-serif
// Booking
.bookingBox
    height: auto
    .content
        max-width: $mediaMaxWidth
        width: auto
        display: grid
        grid-template-areas: 'book pic' 'date date'
        margin: 0 auto
        @media screen and (max-width: $mediaMaxWidth)
            grid-template-areas: 'book' 'date'
        .booking
            grid-area: book
            margin: auto
            max-width: $mediaMaxWidth/2
            width: auto
            .header
                color: $headerDarkColor
                font-size: $headerFS
                line-height: $headerLH
                font-family: Bold-Banny, sans-serif
                margin-top: 8vh
                font-weight: 400
                text-align: center
                text-transform: uppercase
            .line
                background: $lineColor
                display: flex
                margin: 15px auto
                width: 64px
                height: 5px
                border-radius: 20px
            .form
                display: grid
                grid-template-rows: auto
                grid-gap: 10px
                margin: 0 10px
                .inputs
                    display: grid
                    grid-template-columns: repeat(2, minmax(100px, 275px))
                    grid-gap: 10px
                    
                    .item
                        border: none
                        font-family: Inter, sans-serif
                        font-style: normal
                        font-weight: normal
                        font-size: 14px
                        line-height: 19px
                        padding-left: 20px

                        width: 100%
                        height: 60px
                        color: #33333390
                        background-color: #E5E5E5
                        border-radius: 5px
                        cursor: pointer
                        &:focus
                            outline: none
                            border: 2px solid #E8C300
                .btn
                    height: 60px
                    border-radius: 5px
                    color: white
                    font-family: Inter, sans-serif
                    font-weight: 700
                    text-transform: uppercase
                    vertical-align: middle
                    transition: border 0.3s, background 0.3s, color 0.3s
                    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5)
                    background: #E8C300
                    border: 2px solid #E8C300
                    &:hover
                        border: 2px solid gray
                        background: #E5E5E5
                        color: black
    .picture
        margin-top: 50px
        grid-area: pic
        width: auto
        height: auto
        border-radius: 5px
        img 
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5))
        @media screen and (max-width: $mediaMaxWidth)
            display: none
    .date
        margin: 40px 10px
        grid-area: date
        color: $infoDarkColor
        text-align: center
        font-family: Open Sans, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 1em
        line-height: 1em
// Specialty
.specialtyBox
    background: url('../images/specialty_bg.webp') no-repeat center center  fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: auto
    .content
        max-width: $mediaMaxWidth
        margin: auto
        display: grid
        grid-template-areas: 'label' 'slider'
        width: auto
        .label
            width: 300px
            margin: auto
            color: $labelLightColor
            grid-area: label
            text-transform: uppercase
            text-align: center
            padding: 40px 0
            letter-spacing: 0.5em
            line-height: 14px
            font-family: Inter, sans-serif
        .slider
            grid-area: slider
            max-width: $mediaMaxWidth
            width: 100vw
            margin: auto
            margin-bottom: 20px
            .slick-list
                width: auto 
                .slick-track
                    width: auto
            .slick-dots
                list-style: none
                display: block
                text-align: center
                padding: 0
                // display: flex
                // margin: auto
                li 
                    position: relative 
                    display: inline-block 
                    height: 20px 
                    width: 20px 
                    margin: 0 5px 
                    padding: 0 
                    cursor: pointer 
                    button 
                        border: 0 
                        background: transparent 
                        display: block 
                        height: 20px 
                        width: 20px 
                        outline: none 
                        line-height: 0px 
                        font-size: 0px 
                        color: transparent 
                        padding: 5px 
                        cursor: pointer 
                        &:hover, &:focus 
                            outline: none 
                            &:before 
                                opacity: 1 
                        &:before 
                            position: absolute 
                            top: 0 
                            left: 0 
                            content: "\2022"
                            width: 20px 
                            height: 20px 
                            font-size: 64px
                            line-height: 20px 
                            text-align: center 
                            color: rgba(255, 255, 255, 0.5)
                            opacity: 0.5 
                            -webkit-font-smoothing: antialiased 
                            -moz-osx-font-smoothing: grayscale 
                    &.slick-active button:before 
                        color: rgba(255, 255, 255, 1)
                        opacity: 0.75
            .slider_item
                display: grid
                grid-template-areas: 'pic text'
                outline: none
                max-width: $mediaMaxWidth
                margin: 0
                @media screen and (max-width: $mediaMaxWidth)
                    grid-template-areas: 'text'
                .picture
                    grid-area: pic
                    width: auto
                    height: auto
                    border-radius: 5px
                    img 
                        filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5))
                    @media screen and (max-width: $mediaMaxWidth)
                        display: none
                .text    
                    grid-area: text
                    margin: auto
                    padding: 10px
                    max-width: $mediaMaxWidth/2
                .header
                    color: $headerLightColor
                    font-size: $headerFS
                    line-height: $headerLH
                    font-family: Bold-Banny, sans-serif
                    margin-top: 1vh
                    font-weight: 400
                    text-align: center
                    text-transform: uppercase
                .line
                    background: $lineColor
                    display: flex
                    margin: 15px auto
                    width: 64px
                    height: 5px
                    border-radius: 20px
                .quote
                    color: $quoteLightColor
                    max-width: $mediaMaxWidth/2
                    font-family: Inter, sans-serif
                    font-weight: 600
                    font-size: 1.25rem
                    line-height: 2.25rem
                    display: flex
                    align-items: flex-end
                    text-align: center
                    margin: auto
                    padding: 0 5px
                .body
                    color: $bodyLightColor
                    max-width: $mediaMaxWidth/2
                    line-height: 28px
                    text-align: center
                    display: flex
                    margin: auto
                    padding: 0 30px
                    margin-bottom: 3vh
                    font-family: Open-Sans, sans-serif
// Delicious Menu
.menuBox
    height: auto
    .content
        max-width: $mediaMaxWidth
        display: grid
        grid-template-areas: 'text' 'wrapper'
        margin: auto
        .text
            grid-area: text
            margin: auto
            max-width: $mediaMaxWidth/2
            margin-bottom: 5vh
            .header
                color: $headerDarkColor
                font-size: $headerFS
                line-height: $headerLH
                font-family: Bold-Banny, sans-serif
                margin-top: 10vh
                font-weight: 400
                text-align: center
                text-transform: uppercase
            .line
                background: $lineColor
                display: flex
                margin: 15px auto
                width: 64px
                height: 5px
                border-radius: 20px
            .quote
                color: $quoteDarkColor
                max-width: $mediaMaxWidth/2
                font-family: Inter, sans-serif
                font-weight: 600
                font-size: 1.25rem
                line-height: 2.25rem
                display: flex
                align-items: flex-end
                text-align: center
                margin: auto
                padding: 0 5px
        .wrapper
            grid-area: wrapper
            max-width: $mediaMaxWidth
            margin-bottom: 80px
            .tabs
                display: flex
                margin: 
                .nav
                    margin: auto
                    display: grid
                    grid-template-columns: repeat(7,  1fr)
                    grid-template-rows: repeat(1, 50px)
                    @media screen and (max-width: 840px)
                        grid-template-columns: repeat(3, 120px)
                        grid-template-rows: repeat(3, 50px)
                    li
                        margin-bottom: 10px
                        position: relative
                        width: 120px
                        max-height: 50px
                        transition-duration: .25s
                        list-style: none
                        font-family: Inter, sans-serif
                        text-transform: uppercase
                        font-style: normal
                        font-weight: bold
                        font-size: 1rem
                        line-height: 1rem
                        cursor: pointer
                        color: #b2b2b2
                        border-right: 2px solid rgba(80, 80, 80, 0.2)
                        span
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                        &:nth-child(7)
                            border-right: none
                        &:hover
                        &.active
                            color: black
                            &:before
                                transition-duration: .5s
                                background-color: white
                                -webkit-transform: translateY(0)
                                transform: translateY(0)
                        @media screen and (max-width: 840px)
                            &:nth-child(1n)
                                border: none
                            &:nth-child(2)
                                border-left: 2px solid rgba(80, 80, 80, 0.2)
                                border-right: 2px solid rgba(80, 80, 80, 0.2)
                            &:nth-child(5)
                                border-left: 2px solid rgba(80, 80, 80, 0.2)
                                border-right: 2px solid rgba(80, 80, 80, 0.2)
                            &:nth-child(7)
                                grid-area: 3/2/3/2
                                border-left: 2px solid rgba(80, 80, 80, 0.2)
                                border-right: 2px solid rgba(80, 80, 80, 0.2)
                            
        .tab__content
            margin-top: 40px
            position: relative
            width: auto
            // height: auto
            border-radius: 5px
            li
                position: absolute
                display: none
                list-style: none
                .content__wrapper
                    color: white
                    display: grid
                    grid-template-columns: repeat(3, minmax(100px, 1fr))
                    grid-gap: 40px
                    padding: 0 20px
                    @media screen and (max-width: $mediaMidWidth)
                        grid-template-columns: repeat(2, minmax(100px, 1fr))
                    @media screen and (max-width: 840px)
                        grid-template-columns: minmax(100px, 1fr)
                    .product
                        color: #333333
                        display: grid
                        grid-template-areas: 'name price' 'desc price'
                        grid-template-columns: 
                        text-transform: uppercase
                        font-size: 1.5rem
                        line-height: 1.5rem
                        font-family: Bold-Banny
                        .name
                            grid-area: name
                            padding-right: 10px
                        .description
                            grid-area: desc
                            color: #b2b2b2
                            text-transform: none
                            font-family: Inter, sans-serif 
                            font-size: 1rem
                            font-height: 1rem
                        .price
                            grid-area: price
// Private Events
.privateBox
    background: url('../images/specialty_bg.webp') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: auto
    .content
        max-width: $mediaMaxWidth
        height: 100%
        display: grid
        grid-template-areas: 'label' 'images' 'info'
        color: white
        margin: 0 auto
        .label
            grid-area: label
            height: 100px
            text-transform: uppercase
            text-align: center
            padding: 40px 0
            letter-spacing: 0.5em
            line-height: 14px
            font-family: Inter, sans-serif
        .images
            grid-area: images
            margin: auto
            display: grid
            grid-template-areas: 'left right'
            margin: auto
            grid-gap: 8vh
            @media screen and (max-width: 1100px)
                grid-template-areas: 'left' 'right'
            .left
                grid-area: left
                max-width: 475px
                width: 90vw
                height: auto
                position: relative
                margin: auto
                .image
                    border-radius: 5px
                .text
                    background-color: black
                    position: absolute
                    max-width: 477px
                    width: 100%
                    height: 80px
                    top: 84%
                    font-family: Banny, sans-serif
                    font-size: 2rem
                    line-height: 12px
                    display: flex
                    align-items: center
                    text-indent: 20px
                    text-transform: uppercase
                    border-radius: 0 0 5px 5px
                    transform: rotate(0deg)
                    @media screen and (min-width: 1100px)
                        border-radius: 5px 5px 0 0
                        left: 42%
                        top: 41.5%
                        transform: rotate(90deg)
                    
            .right
                grid-area: right
                max-width: 475px
                width: 90vw
                height: auto
                position: relative
                margin: 10px
                .image
                    border-radius: 5px
                .text
                    z-index: 10
                    background-color: black
                    position: absolute
                    max-width: 477px
                    width: 100%
                    height: 100%
                    max-height: 80px
                    font-family: Banny, sans-serif
                    font-size: 1.5rem
                    line-height: 12px
                    display: flex
                    align-items: center
                    text-indent: 20px
                    text-transform: uppercase
                    border-radius: 5px 5px 0 0
                    @media screen and (min-width: 1100px)
                        font-size: 2rem
                        border-radius: 5px 5px 0 0
                        transform: rotate(-90deg)
                        right: 45%
                        top: 41.5%
        .info
            padding: 0 10px
            margin: 8vh auto 5vh auto
            grid-area: info
            color: rgba(255, 255, 255, 0.5)
            text-align: center
            font-family: Open Sans, sans-serif
            font-style: normal
            font-weight: normal
            font-size: 1em
            line-height: 1em
// Carousel
.photoBox
    .content
        position: relative
        .carousel
            img
                width: 25% 
        .arrows
            .arrow
                opacity: 0.8
                border: none
                background-color: rgba(80, 80, 80, 0)
                color: rgba(255, 255, 255, 0.8)
                width: 20vw
                max-width: 4rem
                height: 100%
                position: absolute
                -ms-transform: translateY(-50%)
                -webkit-transform: translateY(-50%)
                transform: translateY(-50%)
                display: flex
                text-align: center
                align-items: center
                font-size: 4rem
                outline: none
                transition: all 0.2s ease
                i 
                    position: absolute
                    left: 50%
                    transform: translatex(-50%)
                &:hover
                    opacity: 0.99
                    background-color: rgba(80, 80, 80, 0.2)
            .prev
                left: 0
                top: 50%
            .next
                right: 0
                top: 50%
// Contact
.contactBox
    .content
        max-width: $mediaMaxWidth
        display: grid
        margin: auto
        padding-bottom: 5vh
        .text
            grid-column: 1/3
            margin: auto
            max-width: $mediaMaxWidth/2
            margin-bottom: 5vh
            .header
                color: $headerDarkColor
                font-size: $headerFS
                line-height: $headerLH
                font-family: Bold-Banny, sans-serif
                margin-top: 10vh
                font-weight: 400
                text-align: center
                text-transform: uppercase
            .line
                background: $lineColor
                display: flex
                margin: 15px auto
                width: 64px
                height: 5px
                border-radius: 20px
            .quote
                color: $quoteDarkColor
                max-width: $mediaMaxWidth/2
                font-family: Inter, sans-serif
                font-weight: 600
                font-size: 1.25rem
                line-height: 2.25rem
                display: flex
                align-items: flex-end
                text-align: center
                margin: auto
                padding: 0 5px
        .form
            display: grid
            grid-column: 1/3
            grid-gap: 10px
            margin: 10px
            .item
                padding-left: 20px
                border: 2px solid rgba(0, 0, 0, 0)
                font-family: Inter, sans-serif
                font-style: normal
                font-weight: normal
                font-size: 1rem
                line-height: 1.25rem             
                height: 60px
                color: #333333ff
                background-color: #E5E5E5
                border-radius: 5px
                cursor: pointer
                &:focus
                    outline: none
                    border: 2px solid #E8C300
            .name
                grid-area: 1/1/1/2 
                @media screen and (max-width: 800px)
                    grid-area: 1/1/2/4
            .email
                grid-area: 1/2/1/3 
                @media screen and (max-width: 800px)
                    grid-area: 2/1/3/4
            .phone
                grid-area: 1/3/1/4
                @media screen and (max-width: 800px)
                    grid-area: 3/1/4/4
            .message
                grid-area: 2/1/3/4
                height: 120px
                resize: none
                padding-top: 10px
                @media screen and (max-width: 800px)
                    grid-area: 4/1/5/4

        .info
            grid-column: 1/2
            margin: 10px 10px 0 10px
            max-width: $mediaMaxWidth/2
            height: 60px
            color: rgb(153,153,153)
            text-align: center
            font-family: Open Sans, sans-serif
            font-style: normal
            font-weight: normal
            font-size: 0.75em
            line-height: 0.75em
            display: flex
            align-items: center
            i   
                color: #E8C300
            @media screen and (max-width: 800px)
                grid-column: 1/3
        .btn
            margin: 10px
            box-sizing: border-box
            grid-column: 2/3
            grid-row: 3/4
            max-width: $mediaMaxWidth
            width: auto
            height: 60px
            border-radius: 5px
            color: white
            padding: 0 20px
            font-family: Inter, sans-serif
            font-weight: 700
            text-transform: uppercase
            vertical-align: middle
            transition: border 0.3s, background 0.3s, color 0.3s
            box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5)
            background: #E8C300
            border: 2px solid #E8C300
            &:hover
                border: 2px solid gray
                background: #E5E5E5
                color: black
            @media screen and (max-width: 800px)
                grid-column: 1/3
// Map
.mapBox
    .map
        width: 100%
        height: 600px
// Footer
.footer
    width: 100%
    height: 100px
    background: rgba(0, 0, 0, 0.9)
    display: flex
    .text
        margin: auto
        font-family: Open Sans, sans-serif
        font-style: normal
        font-weight: normal
        font-size: 1rem
        line-height: 1rem
        color: rgba(255, 255, 255, 0.3)
        .white
            font-family: Inter, sans-serif
            color: rgba(255, 255, 255, 0.5)

     
 